html {
  background-Image: url('giphy-1.gif'); 
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-logo {
  justify-content: center;
}

img {
  max-width: 90%;
  max-height: 90%;
}